esphome:
  name: water-level-sensor
  friendly_name: ESP32 Water Sensor

esp32:
  board: esp32dev
  framework:
    type: esp-idf     

logger:

api:
  encryption:
    key: "RVgRgiWAzdxpaqAWgUtP4KqoB9Tglo/9US+k0DgSKQs="

ota:
  - platform: esphome
    password: "31e9112d275bd0a017b173e473aa0015"

wifi:
  ssid: "ASNET"
  password: "06ASB2015"
  manual_ip:
    static_ip: 10.10.15.179
    gateway: 10.10.15.2
    subnet: 255.255.255.0
    dns1: 192.168.0.4
    dns2: 192.168.0.3
  ap:
    ssid: "Esp32-Config Fallback Hotspot"
    password: "12345678"

captive_portal:

sensor:
  - platform: adc
    pin: GPIO35
    id: water_raw
    name: "Water Leak Level"
    attenuation: 11db           
    update_interval: 1s
    filters:
      - sliding_window_moving_average:
          window_size: 5
          send_every: 1

# prints dry/wet in HAOS and calls valve
binary_sensor:
  - platform: template
    id: leak_detected
    name: "Water Leak Detected"
    device_class: moisture
    lambda: |-
      if (id(water_raw).state > 0.5) {
        return true;
      } else {
        return false;
      }
    on_press:
      - logger.log: "Water detected, closing valve"
      - homeassistant.service:
          service: switch.turn_on   # wet → close valve
          data:
            entity_id: switch.esp32_valve_actuator_water_valve_relay
    on_release:
      - logger.log: "No water, opening valve"
      - homeassistant.service:
          service: switch.turn_off  # dry → open valve
          data:
            entity_id: switch.esp32_valve_actuator_water_valve_relay