esphome:
  name: water-level-sensor
  friendly_name: ESP32 Water Sensor
  # platformio_options:
  #   platform: espressif32@6.4.0

esp32:
  board: esp32dev
  framework:
    type: esp-idf

logger:

api:
  encryption:
    key: "RVgRgiWAzdxpaqAWgUtP4KqoB9Tglo/9US+k0DgSKQs="

ota:
  - platform: esphome
    password: <password>

wifi:
  ssid: !secret_ssid
  password: !secret password
  manual_ip:
    static_ip: 10.10.15.179
    gateway: 10.10.15.2
    subnet: 255.255.255.0
    dns1: 192.168.0.4
    dns2: 192.168.0.3

#  power_save_mode: none
 # reboot_timeout: 0s
  #fast_connect: true
  ap:
    ssid: "Esp32-Config Fallback Hotspot"
    password: "12345678"



captive_portal:
sensor:
  - platform: adc
    pin: GPIO35
    name: "Water Leak Level"
    update_interval: 1s
    attenuation: 6db
    filters:
      - sliding_window_moving_average:
          window_size: 5
          send_every: 1
